.header{
    text-align: center;
    width: 70%;
  }
.display {
    width: 70%;
    align-items: center;
    margin: auto;
  }
.scrollmenu {
    background-color: #333;
    overflow-y: scroll;

    width: 20%;
    float: right;
    }

.scrollmenu a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }

.scrollmenu a:hover {
      background-color: #777;
    }

table {
    border-collapse: collapse;
    overflow-y: scroll;
  }
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
  cursor: s-resize;
  background-repeat: no-repeat;

}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

th.des:after {
    content: "\21E9";
  }

th.aes:after {
    content: "\21E7";
  }
