<!DOCTYPE html>
<html>
  <head>
    <title>Visualizing Census Data by May Dixit</title>
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top"> </nav>
        <div class="header">
              <h1> Visualizing Census Data </h1>
              <p class="information">
                  Select a column in the scrolling list to view the distribution of values. The columns are sortable.

              </p>
        </div>
        <div class="container">
          <div class="scrollmenu" id="scrollmenu" > </div>
          <div class="display" >
            <p id = "row_count"> </p>
            <p id = "total_count"> </p>
            <div id="visualization"></div>
          </div>
        </div>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
